<% let questionPrompt = ["Which country has higher average total earnings for each household?",
					  "Which country has a higher literacy rate?",
					  "Which country has a higher infant mortality rate?",
					  "Which country has more access to clean drinking water?",
					  "Which country has a higher maluntrition rate?"] %>


<% for(var i=1; i<=10; i++) { %>
	<div class="questions-container">
		<h2><p>Q<%= i %>.<%= questionPrompt[data]%></p></h2>
	</div>
	<div class="navigation">
		<div class="options">
			<div class="option">
				<input type="radio" id="<%= i %>A" name="Q<%= i %>" value="A"><label class="radio" for="<%= i %>A"></label>
				<input type="radio" id="<%= i %>B" name="Q<%= i %>" value="B"><label class="radio" for="<%= i %>B"></label>
			</div>
		</div>
	</div>
<% } %>