<% let questionPrompt = ["What is the average total earnings for each household in ",
					  "What is the literacy rate of ",
					  "What is the mortality rate of ",
					  "What percent of the people had access to clean drinking water in ",
					  "What is the malnutrition rate for "] %>


<% for(var i=1; i<=10; i++) { %>
	<div class="questions-container">
		<h2>Q<%= i %>.<%= questionPrompt[data]%> <span id="country<%= i %>"></span>?</h2>
	</div>
		<div class="navigation">
			<div class="options">
				<div class="option">
					<input type = "radio" id = "<%= i %>A" name = "Q<%= i %>" value = "A">
					<label class="radio" for ="<%= i %>A"></label><br>

					<input type = "radio" id = "<%= i %>B" name = "Q<%= i %>" value = "B">
					<label class = "radio" for = "<%= i %>B"></label><br>

					<input type = "radio" id = "<%= i %>C" name = "Q<%= i %>" value = "C">
					<label class = "radio" for = "<%= i %>C"></label><br>

					<input type = "radio" id = "<%= i %>D" name = "Q<%= i %>" value = "D">
					<label class = "radio" for = "<%= i %>D"></label><br>
				</div>
			</div>
		</div>
<% } %>